@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<h1>Sorry ! Plz try Again</h1>
<a  class="btn btn-primary" asp-action="AddEmployee" asp-controller="Employee">Back</a>