@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

@model EmployeeDetails
<h1>Employee successfully Added</h1>


<h2>Employee Id:- @Model.EmpId</h2>
<h2>Employe Name:- @Model.EmpFullName</h2>
<h2>login EmailId:- @Model.EmpEmail</h2>
<h2>login Password:- @Model.EmpPassword</h2>